/* ------ Presets ------ */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#0e0e0e;
}
li{
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}


/*  ------ Header -----   */
header{
    height: 80px;
}
header .header__logoImg{
    position: absolute;
    top: 0;
    left: 5px;
    width: 80px;
} 
header .header__cart{
    position: absolute;
    top: 10px;
    right:20px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
header .header__cart .header__cartCountText{
    font-size: 14px;
    padding: 0 0px;
    color:#0e0e0e;
}
header .header__cart .cart-icon{
    padding:0 10px;
    color:#0e0e0e;
}
nav{
    top:0;
    
}
nav .nav__nav{
    display: flex;
    position: absolute;
    right: 10px;
    top: 35px;
}
nav .nav__nav .nav__listItem{
    padding: 10px;
    color:#0e0e0e;
}
.header__logOutButton{
    position: absolute;
    right:0px;
    top:0px;
    padding:5px;
}
/* -------- Principal -------- */


.body__portadaImg{
    width: 100%;
    top: 80px;
    
}

/* ------ Shop ------*/
.shop__container{
    padding-top: 50px;
    padding-bottom: 100px;
}
.shop__list{
    display: flex;
    justify-content: space-around;   
}

.shop__listItem{
    background-color: rgb(240, 224, 236);
    padding:10px;
    border-radius: 10px;
    width:20vw;  
}
.shop__listImg{
    width: 100%;  
}
.shop__listImg:hover{
    cursor: pointer;
}
.shop__productLabelContainer{
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    border-radius: 5px; 
}
.shop__productLabel{
    display:flex;
    color:#0e0e0e;
    font-size:14px;
}
.shop__productLabel-title{
    font-size:1.1em;
    font-weight: bold;
    padding-bottom:10px;
    text-align: center;
    color:#0e0e0e; 
}
.shop__productLabel-title:hover{
    cursor:pointer;
}
.shop__productLabel-price{
    color:#0e0e0e;
    text-align:right;
    padding-top: 20px;
}
.shop__footer button{
    border:none; 
}
.shop__footer button:hover{
    cursor: pointer; 
}

.shop__footer .shop__cartAdd{
    padding: 10px 20px;
    background-color: #c5678d;
    color:#ededed;
    border-radius: 5px;
    bottom: 5px;
    left:5px;
    transition: all 0.4s;
    
}
.shop__footer .shop__cartAdd:hover{
    background: pink;
    transform: scale(1.1);
    color:black;

    
}
.shop__footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop__footer .shop__quantityContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.shop__footer .shop__quantityContainer .button-quantity{
    display:flex;
    padding: 2px 5px;
    height: 28px;
    width: 20px;
    background: #c5678d;
    text-align:center;
    border-radius: 2px;
    align-items: center;
    color:white;
}
.shop__footer .shop__quantityContainer .shop__quantity{
    padding:2px 10px;
    background: #ededed;
}

/* ----------- Modals ----------- */

.body__modal{
    display:flex;
    justify-content: center;
    align-content: center;
}

.body__modal .modal__container{
    position:fixed;
    top: 20vh;
    width: 60vw;
    height: 70vh;
    background-color: #ededed;
    border: 2px solid #0e0e0e;
    overflow-y: scroll;
}
.body__modal .modal__container .modal__title{
    padding: 10px;
    font-weight: bold;
    text-decoration: underline;
}
.body__modal .modal__container .modal__titleColumn{
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.body__modal .modal__container .modal__titleColumn .encabezadoCarrito-text{
    padding:5px;
    font-weight: bold;
}
.body__modal .modal__container .listProduct{
    padding:5px;
}
.body__modal .modal__container .carritoVacio-text{
    display: none;
    text-align:center;

}
.body__modal .modal__container .modal__cuenta{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
.body__modal .modal__container .modal__cuenta .cuenta__total-text{
    padding:10px;
    font-weight: bold;
}
.body__modal .modal__container .modal__cuenta .cuenta__total-value{
    padding:10px;
}
.body__modal .modal__container .modal__cartClean{
    text-align: center;
    padding-top: 30px;
}
.body__modal .modal__container .modalFooter__buttonContainer{
    display:flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.body__modal .modal__container .modalFooter__buttonContainer .modalFooter__button{
    display: inline-block;
    background-color: #c5678d;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: black solid 2px;
    padding: 3px 10px;
    margin: 10px;

}
.modal__closeIcon{
    font-size:20px;
    position: absolute;
    right:5px;
    padding:5px;
}
.body__productModal{
    display:flex;
    justify-content: center;
    align-content: center;
}
.productModal__container{
    padding:20px;
    position:fixed;
    top: 20vh;
    width: 60vw;
    height: 70vh;
    background-color: #ededed;
    border: 2px solid #0e0e0e;
    overflow: hidden;
}
 .productModal__grid{
    display:grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "img description description"
    "price cart cart";

}
.productModal__gridImg{
    padding:20px;
    display: flex;
    grid-area: img;
}
.productModal__gridImg .gridImg__img{
    width: 25vw;
}

.productModal__gridDescription{
    padding:20px;
    display: flex;
    grid-area: description;
}
.productModal__gridPrice{
    padding:20px;
    display: flex;
    grid-area: price;
}
.productModal__gridCart{
    padding:20px;
    display: flex;
    grid-area: cart;
}

/*----------- Products Manager---------*/
.productManager__container{
    display: flex;
    flex-direction: row;
    padding: 40px;
}
.productManager__container .form__productCharger{
    display:flex;
    flex-direction: column;
    width: 60vw;
    padding:40px;

}
.productManager__container .form__productCharger .productCharger__input{
    width: 80%;
    font-family: 'Roboto', sans-serif;
}
.productManager__container .form__productCharger .productCharger__label{
    padding-top: 10px;
}
.productManager__container .form__productCharger .productCharger__text{
    width: 80%;
    font-family: 'Roboto', sans-serif;
}
.productManager__container .productViewer{
    display: flex;
    flex-direction: column;
    justify-self:  center;
}
.productCharger__buttonContainer{
    padding:20px;
    display:flex;
    justify-content: space-around;
}
.productCharger__buttonContainer .productCharger__button{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background:#c5678d;
    color: white;
    transition: all 0.4s;

}
.productCharger__buttonContainer .productCharger__button:hover{
    background: #ededed;
    transform: scale(1.1);
    color:black;
}
.productViewer .preview__container{
    padding:20px;
}

/*------------- Checkout --------------*/

.checkout__container{
    display:flex;
    flex-direction: column;
    
}
.checkout__container .checkout__user{
    width:60vw;
}
.checkout__container .checkout__userForm{
    display:flex;
    flex-direction: column;
    padding: 40px;
}
.checkout-products{
    display:flex;
    flex-direction: row;
    
}
.checkout-products .checkout__productsList{
    display:flex;
    flex-direction: column;
    padding:20px;
}


/*----------- Admin site ------------*/
.admin__options{
    padding:40px;
}
.admin__taskList .admin__taskItem{
    padding:20px;
}
.admin__taskList .admin__taskItem .linkButton{
    padding:10px 20px;
    background-color: darkgrey;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}

@media screen and (min-width: 768px){

}